#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: $mainColor;
}
.content {
	padding: rem(20) rem(0);
}
//========================================================================================================================================================
